<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{/fragment.html::cabecera}"></head>
  <body>
    <nav th:replace="~{/fragment.html::mainMenu}"></nav>
    <h1>Nueva valoracion</h1>
    <form method="post" action="#" th:action="@{/com/new/submit}"
            th:object="${comentariosForm}">
            <label>Id:<input type="text" id="id" th:field="*{id}"/> </label><br/>
            <label>Puntuacion:<input type="number" id="puntuacion" min="0" max="10" th:field="*{puntuacion}"  /></label><br/>
            <label>Descrpción:<input type="text" id="descripcion" th:field="*{descripcion}" /></label><br/>
            Usuario:<select th:field="*{usuario}">
              <option th:each="user : ${listaUsuarios}" th:value="${user.id}" th:text="${user.nombre}"></option>
            </select><br/>
            Arma:<select th:field="*{arma}">
              <option th:each="arm : ${listaArmas}" th:value="${arm.id}" th:text="${arm.nombre}"></option>
            </select><br/>
            <input type="submit" value="Enviar" />
    </form>
  </body>
</html>