<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/Logo.png" />
    <link rel="stylesheet" href="/css/sky.css" type="text/css" />
    <title>Elden ring</title>
  </head>

  <body>
    <header>
      <a th:href="@{/public}">
        <img src="/images/Logo.png" />
      </a>
    </header>
    <main>
      <div th:each="sky : ${datosSky}">
        <iframe th:src="${sky.urlVideo}"></iframe>
        <p th:text="${sky.nombre}">Titulo</p>
    </div>
  </main>
  </body>
</html>
