<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Logo.png" />
    <link rel="stylesheet" href="/css/politicas.css" type="text/css"/>
    <title>SkillCoucher</title>
</head>

<body>
    <a th:href="@{/public}">
        <img src="/images/LogoNegro.png" />
    </a>
    <h1>Políticas de Uso</h1>
    <h2>Última actualización: 13/06/2024</h2>
    <p>Bienvenido a SkillCoucher, una comunidad en línea dedicada a los videojuegos. Al acceder y utilizar este sitio
        web, aceptas cumplir con las siguientes políticas de uso. Si no estás de acuerdo con alguna de estas políticas,
        por favor no utilices nuestro sitio web.</p>

    <h3>1. Uso del Sitio Web</h3>
    <p>1.1 Acceso y Navegación: Los usuarios pueden acceder y navegar por nuestro sitio web de manera gratuita. Sin
        embargo, algunas secciones pueden requerir registro.</p>

    <p>1.2 Registro: Para participar en ciertas actividades, es posible que se te solicite crear una cuenta
        proporcionando información veraz y actualizada.</p>

    <p>1.3 Edad Mínima: Debes tener al menos 13 años para crear una cuenta en nuestro sitio web. Si eres menor de 13
        años, no debes proporcionar ninguna información personal.</p>

    <h3>2. Contenido Generado por el Usuario</h3>
    <p>2.1 Publicación de Contenido: Los usuarios pueden publicar contenido como comentarios, reseñas y foros de
        discusión. El contenido debe ser respetuoso y no debe violar ninguna ley aplicable.</p>

    <p>2.2 Propiedad del Contenido: Al publicar contenido en nuestro sitio web, nos otorgas una licencia mundial, no
        exclusiva y gratuita para usar, reproducir, modificar y distribuir dicho contenido.</p>

    <p>2.3 Moderación: Nos reservamos el derecho de revisar, editar o eliminar cualquier contenido generado por el
        usuario que consideremos inapropiado o que viole estas políticas de uso.</p>

    <h3>3. Conducta del Usuario</h3>
    <p>3.1 Comportamiento Prohibido: No debes:</p>

    <p>- Publicar contenido ofensivo, difamatorio, o que incite al odio.</p>
    <p>- Participar en actividades ilegales o fraudulentas.</p>
    <p>- Interferir con el funcionamiento del sitio web o intentar acceder a áreas restringidas.</p>
    <p>3.2 Respeto a la Propiedad Intelectual: Debes respetar los derechos de propiedad intelectual de otros. No
        publiques contenido que infrinja los derechos de autor, marcas registradas u otros derechos de propiedad.</p>

    <h3>4. Privacidad y Seguridad</h3>
    <p>4.1 Recopilación de Datos: Recopilamos información personal conforme a nuestra Política de Privacidad. Al
        utilizar nuestro sitio web, aceptas la recopilación y uso de tus datos según se describe en dicha política.</p>

    <p>4.2 Seguridad de la Cuenta: Eres responsable de mantener la confidencialidad de tu cuenta y contraseña.
        Notifícanos inmediatamente cualquier uso no autorizado de tu cuenta.</p>

    <h3>5. Propiedad Intelectual</h3>
    <p>5.1 Derechos Reservados: Todo el contenido del sitio web, incluyendo textos, gráficos, logos, y software, es
        propiedad de SkillCoucher o de sus licenciantes y está protegido por las leyes de propiedad intelectual.</p>

    <p>5.2 Uso del Contenido: No puedes reproducir, distribuir o crear obras derivadas del contenido del sitio web sin
        nuestro consentimiento expreso por escrito.</p>

    <h3>6. Enlaces a Otros Sitios Web</h3>
    <p>6.1 Enlaces Externos: Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables
        del contenido o las políticas de privacidad de dichos sitios.</p>

    <h3>7. Modificaciones a las Políticas de Uso</h3>
    <p>7.1 Cambios: Nos reservamos el derecho de modificar estas políticas de uso en cualquier momento. Las
        modificaciones entrarán en vigor inmediatamente después de su publicación en el sitio web.</p> 
        <p>Es tu responsabilidad revisar estas políticas periódicamente para estar al tanto de los cambios.</p>

    <h3>8. Limitación de Responsabilidad</h3>
    <p>8.1 Exclusión de Garantías: El sitio web se proporciona "tal cual" y "según disponibilidad". No garantizamos que
        el sitio web esté libre de errores o interrupciones.</p>

    <p>8.2 Limitación de Daños: En la medida máxima permitida por la ley, no seremos responsables de ningún daño
        indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de usar el sitio web.</p>

    <h3>9. Contacto</h3>
    <p>9.1 Información de Contacto: Si tienes preguntas o inquietudes sobre estas políticas de uso, por favor
        contáctanos a través de SkillCoucher@gmail.com</p>
</body>

</html>