body {
    background-image: url("https://images.hdqwalls.com/wallpapers/overwatch-2-game-4k-di.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
}
header {
    display: flex;
}
header a {
    display: flex;
    width: 10%;
    height: auto;
    margin: 0px;
}
header img {
    width: 100%;
    height: auto;
    margin: 0px;
  }
#fotoTitulo{
    margin-right: auto;
    margin-left: auto;
    position:relative;
    float: left;
    width: 40%;
    height: auto;
}